$sidebar_width: 15vw;
$chart_width: 100 - ($sidebar_width*2);

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Karla', sans-serif;

$white: #f5f5f6;

$background-color: #fefefe;
$background-color-night: #222;

$font-color: #1a1a1a;
$font-color-night: $white;

$text-shadow: 0px 0px 1px rgba(black, .35),
0px 2px 3px rgba(black, .35);

:root {
	--background-color: #{$background-color};
	--font-color: #{$font-color};
	--background-color-inverted: #{$background-color-night};
	--font-color-inverted: #{$font-color-night};
}

body {
	margin: 0;
	padding: 0;
	background: var(--background-color);

	&[night="true"] {
		--background-color: #{$background-color-night};
		--font-color: #{$font-color-night};
		--background-color-inverted: #{$background-color};
		--font-color-inverted: #{$font-color};
	}

	*, & {
		box-sizing: border-box;
		font-family: $secondary-font;
		color: var(--font-color);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $primary-font;
	}
}

#app {
	display: grid;
	grid-template-columns: $sidebar_width $chart_width $sidebar_width;
	grid-template-rows: 100vh;
	height: 100vh;

	#sequence {
		grid-column: 1;
	}

	#partitionSVG {
		grid-column: 2;
		overflow: hidden;
		max-height: 100vh;
		max-width: 80vw;

		[fill-opacity="0"] {
			pointer-events: none;
		}
	}

	#legend {
		grid-column: 3;
	}
}

path {
	stroke: var(--background-color);
}

#legend {
	border-left: 1px solid #1a1a1a;

	h2 {
		text-align: center;
		text-shadow: $text-shadow;
	}
}

#sequence {
	border-right: 1px solid #1a1a1a;
}

#sequence,
#legend {
	overflow: auto;

	#percentage {
		display: block;
		width: 100%;
		text-align: center;
		padding: 1vh 1vw;
		background: var(--background-color-inverted);
		color: var(--font-color-inverted);
	}
}


#legend_list,
#breadcrumbs {
	display: flex;
	list-style: none;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 2vh 0;
	flex-direction: column;

	li {
		padding: 10px;
		position: relative;
		flex-shrink: 0;
		width: $sidebar_width * .8;
		margin: 0px auto 5px;
		word-wrap: break-word;

		span {
			position: relative;
			z-index: 2;
			text-shadow: $text-shadow;
			text-transform: capitalize;
			color: $white;
			font-size: 15px;
		}

		&::before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			opacity: 0.4;
			position: absolute;
			background: var(--background-color);
		}
	}
}

#breadcrumbs {
	li {
		padding: 10px 10px 15px 10px;
		clip-path: polygon(
			0 0,
			100% 0,
			100% 70%,
			50% 100%,
			0 70%
			);
	}
}
